.quiz-screen, .result-screen {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF9C4;
}


#start-h3 {
display: flex;
justify-content: center;
margin-top: 40px;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
color: #333333;
}

#start-h2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
}

#start-h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
}
#start-btn {
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    left: 680px;
    top: 25px;
}

button {
    background-color: #D1C4E9;
    border-radius: 20px;
    border: none;
}

button:hover {
    background-color: #EDE7F6;
    color: #333333;
}


.correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }
  
