.quiz-screen, .result-screen {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF9C4;
}


#start-h3 {
display: flex;
justify-content: center;
margin-top: 40px;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
color: #333333;
}

#start-h2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
}

#start-h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
}
#start-btn {
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    left: 680px;
    top: 25px;
}

button {
    background-color: #D1C4E9;
    border-radius: 20px;
    border: none;
}

button:hover {
    background-color: #EDE7F6;
    color: #333333;
}

#quiz-screen {
    background-color: #C8E6C9; 
    padding: 40px 20px;         
    margin: 50px auto;          
    border-radius: 15px;        
    max-width: 600px;          
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    text-align: center;    
}

#question-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.btn-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    width: 300px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

#next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    height: 50px;
    width: 130px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

#result-screen {
    background-color: #C8E6C9; 
    padding: 40px 20px;         
    margin: 50px auto;          
    border-radius: 15px;        
    max-width: 600px;          
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    text-align: center;    
}

#score-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-bottom: 2px solid #333333;
}

#time-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}

#pass-fail-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}

#restart-btn {
    height: 50px;
    width: 130px;
    font-size: 22px;
    cursor: pointer;
    margin-top: 45px;
    font-weight: bold;
}
.correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }

  .correct:hover {
    background-color: green;
    color: #EDE7F6;
  }

  .incorrect:hover {
    background-color: red;
    color: #EDE7F6;
  }
  
