.quiz-screen, .result-screen {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF9C4;
}


#start-h3 {
display: flex;
justify-content: center;
margin-top: 40px;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
}

#start-h2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

#start-h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }
  
